<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
</head>

<body style="background-color: #e9ecef;">

    <!-- Navber Section -->
    <%- include('../partials/_navber') %>
    <!-- Navber End -->

    <!-- Create a new Exam section -->
    <div class="container my-4">
        <div class="d-flex justify-content-around"></div>
        <h3 class="my-2"><%= exam.examName %></h3>
        <p><%= exam.examDescription %></p>
        <div class="alert alert-info">Exam Link - <a href="<%= host %>/exam/<%= exam._id %>/" id="examurl"> <%= host %>/exam/<%= exam._id %>/ </a><button class="btn btn-success btn-sm ml-2" id="copyurl">Click Here to Copy URL</button></div>
        <a href="/exam/<%= exam._id %>/add" class="btn btn-info">Add Question</a>
        <% if(exam.isOpen) {%>
            <a href="/exam/<%= exam._id %>/close" class="btn btn-danger">Close Exam</a>
        <% }else { %>
            <a href="/exam/<%= exam._id %>/open" class="btn btn-success">Open Exam</a>
        <% } %>
        <a href="/exam/<%= exam._id %>/preview" class="btn btn-warning">Preview Exam Form</a>
        <ul class="list-group list-group-horizontal my-3">
            <li class="list-group-item">Total Questions: <%= totalQuestions %></li>
            <li class="list-group-item">Total Student Attended : <%= totalStudentsAttended %></li>
            <li class="list-group-item">Average Student Score : <%= avgMarks %></li>
            <li class="list-group-item">Average Student Attempted : <%= avgAttempted %></li>
        </ul>
        <a href="/exam/<%= exam._id %>/download-csv" class="btn btn-primary mb-3">Download CSV</a>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Student Name</th>
                    <th scope="col">Roll No</th>
                    <th scope="col">Department</th>
                    <th scope="col">Question Attended</th>
                    <th scope="col">Marks</th>
                </tr>
            </thead>
            <% students.forEach(student => { %>
                <tbody>
                    <tr>
                        <th scope="row"><%= student.studentName %></th>
                        <td><%= student.studentRoll %></td>
                        <td><%= student.studentDepartment %></td>
                        <td><%= student.attended %></td>
                        <td><%= student.marks %></td>
                    </tr>
                </tbody>
            <% }) %>
        </table>
    </div>

    <!-- Create a new Exam section End-->

    <!-- JavaScript Codes -->
    <!-- Bootstrap Dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script>
        var $temp = $("<input>");
        var $url = "<%= host %>/exam/<%= exam._id %>/"

        $('#copyurl').on('click', function() {
        $("body").append($temp);
        $temp.val($url).select();
        document.execCommand("copy");
        $temp.remove();
        $("#copyurl").text("URL copied!");
        })
    </script>
</body>

</html>